@charset "UTF-8";

.select_list ul {
	padding: 0 20px;
}

.select_list ul li {
	display: block;
	margin-bottom: 10px;
}

.select_list ul li a {
	display: block;
	border: 1px solid #ddd;
	padding: 10px 0;
	text-align: center;
}

.select_list ul li a:hover {
	background: #f8f8f8;
	border: 1px solid #0779b5;
}

.select_list ul li a.none {
	color: #b2b2b2;
	background: #f7f7f7;
	cursor: default;
}

.step_contents {
	min-height: 390px;
	padding: 25px 0px;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

.step_contents:after {
	content: "";
	display: block;
	clear: both;
}

.select_list ul {
	padding: 0 20px;
}

.select_list ul li {
	display: block;
	margin-bottom: 10px;
}

.select_list ul li a {
	display: block;
	border: 1px solid #ddd;
	padding: 10px 0;
	text-align: center;
}

.select_list ul li a:hover {
	background: #f8f8f8;
	border: 1px solid #0779b5;
}

.select_list ul li a.none {
	color: #b2b2b2;
	background: #f7f7f7;
	cursor: default;
}

.step_box {
	width: 100%;
	margin-top: 50px;
}

.step_box:after {
	content: "";
	display: block;
	clear: both;
}

.step_room {
	float: left;
	width: 32%;
}

.step_room:after {
	content: "";
	display: block;
	clear: both;
}

.step_room .title {
	padding: 15px 20px;
	background: #2b95c7;
	color: #fff;
}

.step_room .title span i {
	color: #fff;
	margin-right: 10px;
}

.step_room .title span {
	display: block;
	font-size: 1.25em;
	font-weight: 500;
	line-height: 1.5em;
	text-align: center;
	color: #fff;
}

.step_room .select_list ul li a.select-room {
	background: #222;
	border: 1px solid #222;
	color: #fff;
}

.step_room .select_list ul li a:hover.select-room {
	background: #2b95c7;
	border: 1px solid #2b95c7;
}

.step_date {
	float: left;
	width: 32%;
	margin: 0 2%;
}

.step_date:after {
	content: "";
	display: block;
	clear: both;
}

.step_date .title {
	padding: 15px 20px;
	background: #0779b5;
	color: #fff;
}

.step_date .title span i {
	color: #fff;
	margin-right: 10px;
}

.step_date .title span {
	display: block;
	font-size: 1.25em;
	font-weight: 500;
	line-height: 1.5em;
	text-align: center;
	color: #fff;
}

.step_date .select_list {
	height: 270px;
	overflow-y: auto;
}

.step_date .select_list ul li a.select-date {
	border: 3px solid #0779b5;
	color: #0779b5;
}

.step_date .date_month {
	position: relative;
	margin: 6px 20px 20px 20px;
	background: none;
}

.step_date .date_month i {
	display: inline-block;
	font-size: 1.5em;
	color: #aaa;
}

.step_date .date_month i:hover {
	color: #000;
}

.step_date .date_month .month_prev {
	position: absolute;
	left: 10px;
	top: 2px;
}

.step_date .date_month .month_next {
	position: absolute;
	right: 10px;
	top: 2px;
}

.step_date .date_month p {
	display: block;
	text-align: center;
	font-size: 2em;
	font-weight: 500;
	line-height: 1;
	color: #000;
}

.step_date .date_month p span.c_year {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	padding: 0 10px 6px 0;
}

.step_time {
	float: left;
	width: 32%;
}

.step_time:after {
	content: "";
	display: block;
	clear: both;
}

.step_time .title {
	padding: 15px 20px;
	background: #23b795;
	color: #fff;
}

.step_time .title span i {
	color: #fff;
	margin-right: 10px;
}

.step_time .title span {
	display: block;
	font-size: 1.25em;
	font-weight: 500;
	line-height: 1.5em;
	text-align: center;
	color: #fff;
}

.step_time .select_list {
	height: 320px;
	overflow-y: auto;
}

.step_time .select_list ul li a.select-time {
	border: 3px solid #23b795;
	color: #23b795;
}

.reservation {
	text-align: right;
	padding: 20px 0 10px;
	margin-top: 0px;
}

.reservation:after {
	content: "";
	display: block;
	clear: both;
}

.reservation .ex_none {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: #fbf5f5;
	border: 1px solid #ddd;
	margin: 0 5px 0 20px;
	vertical-align: middle;
}

.reservation .ex_select {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: #fff;
	border: 1px solid #ddd;
	margin: 0 5px 0 20px;
	vertical-align: middle;
}